.form_input{
    margin-top: 2px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.form_textarea {
    margin-top: 2px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.button_submit{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    border-color: blue;
    color: #fff;
}
.box {
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
input {
    margin-top: 2px;
    margin-bottom: 10px;
}